@model AlrInvestSupply.Models.Entity.About
@using AlrInvestSupply.AppCode.Globalization
@{
    ViewBag.Title = RLang.About;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>

    <div class="aboutIntro">
        <div class="container">
            <p style="padding: 130px 50px;">
                @Model.Description
            </p>
        </div>
    </div>


</section>

@section style{

    <link rel="stylesheet" href="~/Public/css/contact.css">
}